.slider{
    margin-top: 200px;
    display: block;
    height: 720px;
    text-align: center;
}

.slick-slide:not(.slick-active) {
    opacity: 0.4;
}
.slider .slick-disabled{
    opacity: 0.4;
    pointer-events: none;
}

.slick-track{
    display: flex;
    width: 100%;

}
.slick-list{
    overflow: hidden;
}
.slider .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;

}
.slider .slick-arrow.slick-next{
background: url('../src/Arrow_left_active.png') 0 0 / 100% no-repeat;
    top: 1130px;
    right: 500px;
    border: none;

}



.slider .slick-arrow.slick-prev{
background: url('../src/Arrow _right_active.png')  0 0 / 100% no-repeat;
    top: 1130px;
    right:700px;
    border: none;
}

.slider .slick-dots{
    display: flex;
    position: absolute;
    top:1125px;
    right: 550px;
    align-items: center;
    justify-content: center;
    border: none;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}

.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.slider .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 10px;
    height: 10px;

}
.slider .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}
