.slider{
    margin-top: 350px;
    display: block;
    height: 720px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.slider .slick-slide:not(.slick-active) {
    opacity: 0.4;
}
.slider .slick-disabled{
    opacity: 0.4;
    pointer-events: none;
}
.slider .slick-list{
}

.slick-track{
    display: flex;
}
.slider .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;

}
.slider .slick-arrow.slick-next{
background: url('../src/Arrow_left_active.png') 0 0 / 100% no-repeat;
    top: 1375px;
    right: 325px;
    border: none;

}



.slider .slick-arrow.slick-prev{
background: url('../src/Arrow _right_active.png')  0 0 / 100% no-repeat;
    top: 1376px;
    right:535px;
    border: none;
}

.slider .slick-dots{
    display: flex;
    position: absolute;
    top:1382px;
    right: 385px;
    align-items: center;
    justify-content: center;
    border: none;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}

.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.slider .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 10px;
    height: 10px;

}
.slider .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}





.about_slide .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}
.about_slide .slick-arrow {
    visibility: hidden;
}

 .about_slide{
     position: relative;
     display: block;
     margin-top: 30px;

 }
.about_slide .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 15px;
    height: 15px;

}
.about_slide .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}
 .about_slide .slick-list{
     overflow: hidden;
 }
.about_slide .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.about_slide .slick-dots{
    display: flex;
    position: absolute;
    top: 425px;
    right: 460px;
    align-items: center;
    justify-content: center;
    border: none;
}







.info_slider .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}
.info_slider .slick-arrow {
}

.info_slider{
    position: relative;
    display: block;
    width: 529px;
    height:192px; ;


}
.info_slider .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 10px;
    height: 10px;

}
.info_slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}
.info_slider .slick-list{
    overflow: hidden;
}
.info_slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.info_slider .slick-dots{
    display: flex;
    position: absolute;
    top: 385px;
    right: 60px;
    align-items: center;
    justify-content: center;
    border: none;
}
.info_slider .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;

}

.info_slider .slick-arrow.slick-next{
    background: url('../src/Arrow_left_active.png') 0 0 / 100% no-repeat;
    top: 385px;
    right: 20px;
    border: none;


}

.info_slider .slick-arrow.slick-prev{
    background: url('../src/Arrow _right_active.png')  0 0 / 100% no-repeat;
    top: 385px;
    right: 160px;
    border: none;

}












.last_slider{
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-top: 350px;
    display: block;
    height: 500px;
    margin-bottom: 100px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.last_slider .slick-slide:not(.slick-active) {
    opacity: 0.4;
}
.last_slider .slick-disabled{
    opacity: 0.4;
    pointer-events: none;
}
.last_slider .slick-list{
}

.last_slider .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;

}
.last_slider .slick-arrow.slick-next{
    background: url('../src/Arrow_left_active.png') 0 0 / 100% no-repeat;
    top: 6660px;
    right: 320px;
    border: none;

}



.last_slider .slick-arrow.slick-prev{
    background: url('../src/Arrow _right_active.png')  0 0 / 100% no-repeat;
    top: 6660px;
    right:530px;
    border: none;
}
.last_slider .slick-dots{
    display: flex;
    position: absolute;
    top:6665px;
    right: 380px;
    align-items: center;
    justify-content: center;
    border: none;
}

.last_slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}

.last_slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.last_slider .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 10px;
    height: 10px;

}
.last_slider .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}






.last_slider2{
    margin-top: 350px;
    display: none;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    height: 500px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.last_slider2 .slick-slide:not(.slick-active) {
    opacity: 0.4;
}
.last_slider2 .slick-disabled{
    opacity: 0.4;
    pointer-events: none;
}
.last_slider2 .slick-list{
}

.last_slider2 .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;

}
.last_slider2 .slick-arrow.slick-next{
    background: url('../src/Arrow_left_active.png') 0 0 / 100% no-repeat;
    top: 6660px;
    right: 320px;
    border: none;

}



.last_slider2 .slick-arrow.slick-prev{
    background: url('../src/Arrow _right_active.png')  0 0 / 100% no-repeat;
    top: 6660px;
    right:530px;
    border: none;
}
.last_slider2 .slick-dots{
    display: flex;
    position: absolute;
    top:6665px;
    right: 380px;
    align-items: center;
    justify-content: center;
    border: none;
}

.last_slider2 .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}

.last_slider2 .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.last_slider2 .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 10px;
    height: 10px;

}
.last_slider2 .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}
















.last_slider3{
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-top: 350px;
    display: none;
    height: 500px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.last_slider3 .slick-slide:not(.slick-active) {
    opacity: 0.4;
}
.last_slider3 .slick-disabled{
    opacity: 0.4;
    pointer-events: none;
}
.last_slider3 .slick-list{
}

.last_slider3 .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 30px;
    height: 30px;

}
.last_slider3 .slick-arrow.slick-next{
    background: url('../src/Arrow_left_active.png') 0 0 / 100% no-repeat;
    top: 6660px;
    right: 320px;
    border: none;

}



.last_slider3 .slick-arrow.slick-prev{
    background: url('../src/Arrow _right_active.png')  0 0 / 100% no-repeat;
    top: 6660px;
    right:530px;
    border: none;
}
.last_slider3 .slick-dots{
    display: flex;
    position: absolute;
    top:6665px;
    right: 380px;
    align-items: center;
    justify-content: center;
    border: none;
}

.last_slider3 .slick-dots li{
    list-style: none;
    margin: 0px 10px;

}

.last_slider3 .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:#D1D1D1 ;
    border-radius: 50%;
    border: none;

}
.last_slider3 .slick-dots li.slick-active button{
    background-color: #6BBD45;
    width: 10px;
    height: 10px;

}
.last_slider3 .slick-initialized .slick-slider .slick-dotted{
    width: 100%;

}



.whit-back  .slick-arrow {
    visibility: hidden;
}


.whit-back  .slick-list{
    overflow: hidden;
}

@media (min-width: 800px) {
    .whit-back .row{
        position: relative;
        display: block;
        margin-left: 100px;



    }
    .whit-back .row .col-2{
        cursor: pointer;
        user-select: none;
    }
    .mini_about_slider{
        display: none;
    }

}
@media (max-width: 968px) {
    .whit-back .row{
        display: block;
        cursor: pointer;
        user-select: none;
        position: relative;
        font-size: 13px;
        line-height: 18px;
        z-index: 100;
        background-color: #ffffff;


    }

    .whit-back .row .col-2{
        cursor: pointer;
        user-select: none;
        height: 100%;
        padding: 15px;

    }

.slider .row{
    height: 326px;
}
.slider .col-2{
    width: 260px;
    height: 326px;
}

    .slider .slick-arrow {
        visibility: hidden;
    }


    .about_slide{
        display: flex;
        justify-content: center;
        width: 720px;
        height: 540px;

    }

    .about_slide .slick-dots li.slick-active button{
        background-color: #6BBD45;
        width: 15px;
        height: 15px;

    }
    .about_slide .slick-dots li{
        list-style: none;
        margin: 0px 10px;

    }
    .about_slide .slick-list{
        overflow: hidden;
    }
    .about_slide .slick-dots button{
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color:#D1D1D1 ;
        border-radius: 50%;
        border: none;

    }
    .about_slide .slick-dots{
        display: flex;
        position: absolute;
        top: 400px;
        right: 460px;
        align-items: center;
        justify-content: center;
        border: none;
    }
 .h2_about{
     margin-top:-50px;
     margin-left: 70px;
 }



    .mini_about_slider .slick-arrow {
        visibility: hidden;
    }
.col_mini{
    margin-left: 10px;
    width: 300px !important;
    height: 320px !important;
    font-size: 15px;
    line-height: 22px;
}
    .mini_about_slider{
        position: relative;
        display: block;
        margin-top: 60px !important;
        cursor: pointer;
        user-select: none;
}

    .card_mobile .slick-arrow {
        visibility: hidden;
    }
    .col_card_mob{
        margin-right: 20px;
        width: 342px !important;
        height: 240px !important;
    }
.card_mobile{
    margin-top: 100px ;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.pic_card{
    width: 342px !important;
    height: 240px !important;
}




}