@font-face {
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.ttf");
}

body{
    font-family: "Montserrat-Black",sans-serif;
    color: #675a54;
}
.container-fluid{

    font-size: smaller;

}
.header{
    font-family: "Montserrat-Black";
    font-size: 10pt;
    color: #675a54;
    background-color: #ffff;
}
.header_inner{
    font-family: "Montserrat-Black",sans-serif;
    background-color: #ffff;
    width: 85%;

    margin: auto;
}
.container-md{
    font-family: "Montserrat-Black",sans-serif;
    margin-top: -150px;


}
.wrap-op{
    font-family: "Montserrat-Black",sans-serif;
    border-width: 5px;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom right, #2983D4 50%, #7EC95C 60%);
    margin-top: 50px;
    position: relative;
    z-index: 1;
    margin-right: 300px;
    color: #ffff;
    margin-bottom: 50px;
}
.opacity-part{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    opacity: 0.5;
    background-color: #000;
    z-index: -1;

}

video{
    margin-top: -200px;
width: 100%;
    z-index: -5;
    position: relative;

}
.col{
    padding: 5px;
}
 h1{
    text-align: center;
}
.order-call{
    color:#ffff;
    border-bottom-right-radius: 10px;
    width: 150px;
    height: 35px;
    border-top-left-radius: 10px;
    background-color: #6BBD45;
}
.under_h1{
    text-align: center;
    font-size: 15pt;
}
.col-2{

}
.under_slider{
    border-style: groove;
    color: white;

}