.main {
    margin: auto;
    padding: 30px;
}
.nav{
    display: inline-block;
}
li{
    display: inline-block;
    margin-left: 50px;
    font-size: 16pt;
}
video{

    height: 600px;

}
.header{
    margin: 0 auto;
    position: center;
    text-align: center;

}
a li:hover{
    color: #6BBD45;

}
.content{
    width: 100%;
}
.list{
    display: inline-block;
}
.after-video{
    text-align: center;
}

h1{
    text-align: center;
}
.order-call{
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #6BBD45;
}